{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="section about" id="about">
    <div class="container">
        <div class="row justify-content-cente r mt-5">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h3 class="heading"> {{ title }}</h3>

                </div>
            </div>


            <section class="section about" >
                <div class="container">
                    <div class="row justify-content-center mt-5">

                        {% for contest in contests %}
                        <div class="col-lg-4"><a style="color:#252d31;" href="{% url 'contest_detail' contest.slug %}">
                            <img src="{{ contest.image.url }}" width="300" height="200" alt="">
                            <h4>{{ contest.title }}</h4>
                            <br></a>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock content %}