{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-white navbar-custom sticky bg-white" id="navbar">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
            <!-- toggle button -->
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav nav-text mx-auto" id="navbar-navlist">
                {% with request.resolver_match.url_name as url_name %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Негізгі бет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#services">Неліктен?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#teachers">Ұстаздар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#suret">Сурет салу байқау</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#horse_racing">Ат бәйгесі</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#mushaira">Мүшәйра</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mb-3 mb-lg-0" href="{% url 'home' %}#contact">Контакт</a>
                </li>
                {% endwith %}
            </ul>
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
             <a href="{% url 'account_logout' %}" class="btn btn-primary nav-btn">
                Шығу
            </a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary nav-btn">
                Кіру
            </a>
            {% endif %}
            <!-- Nav btn -->
        </div>
    </div><!-- End container -->
</nav>